!------------------------------------------------------------------------------
! c o l o r -  s e t t i n g s

*background: #222222
*foreground: #999999


!------------------------------------------------------------------------------
! u r x v t

URxvt*geometry:         112x22
URxvt*font:             xft:xos4 Terminus:size=12
URxvt*urlLauncher:      firefox
URxvt*scrollBar:        false
URxvt*scrollBar_right:  true
URxvt*scrollColor:      #000000
URxvt*transparent:      true
URxvt*shading:          25

! perl extensions
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.iso14755: False

URxvt.perl-ext-common: default,clipboard
